# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
venv/
.venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Railway
railway.json
